<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form method="post" action="{% url 'Admin:signup' %}">
            {% csrf_token %}
            <p>
                <label>First Name</label>
                <input type="text" name="fname">
            </p>
            <p>
                <label>Middle Name</label>
                <input type="text" name="mname">
            </p>
            <p>
                <label>Last Name</label>
                <input type="text" name="lname">
            </p>
            <p>
                <label>Email</label>
                <input type="email" name="email">
            </p>
            <p>
                <label>Phone Number</label>
                <input type="number" name="phone">
            </p>
            <p>
                <label>Password</label>
                <input type="password" name="password">
            </p>
            <input type="submit" value="Signup" />
            
        </form>
    </body>
</html>