#all_present{
    
    top: 20px;
    left:50%
}
#options{
    display: flex;
    gap: 50px;
    justify-content:center;
    align-items:center;
    margin-top: 70px;
    margin-bottom: 50px;
}
#options div.sem,div.hour{
    display: flex;
    align-items:center;
    justify-content: center;
}
#options div.sem select{
    width: 200px;
}
#options div.hour label{
    width:150px;
    margin-right: 10px;
}
div.button{
    display: flex;
    margin-left:100px;
}