.font-robo {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  }
  
  .font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  }
  
  .font-opensans {
    font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
  }
  






body{
    margin: none;
    padding: none;
    outline: none;
    font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}
header{
    height: 80px;
    background-color: black;
    margin:0px;
    padding: 0px;
    align-items: center;
    display: flex;

}
header h1{
    color: aliceblue;
    font-size: 20px;
    margin-left: 20px;
}
header h1 a{
    text-decoration: none;
    color: #FFF;
}
html{
    scroll-behavior: smooth;
    
}

#main{
   background-color: black;
    min-height: 100vh;
    padding-top: 100px;

}
div.container{
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 15%);
    display: flex;
    justify-content: center;
    width: 603px;
    height: 50vh;

}

div.container div.form form{
    width: 560px;
    margin-top: 30px;
}
div.container div.form form div.mb-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center;
    
}
div.container div.form form div.mb-3 input.form-control{
    width: 200px;
    margin-left: 60px;
}
div.container div.form form div.mb-3 input.form-control.one{
    margin-left: 80px;
}
div.container div.form form div.radio{
    display: flex;
    
}
div.container div.form form div.radio .form-check.pg{
    margin-left: 25px;
}
div.container form button{
    margin-left: 5px;
    margin-top: 13px;
    width: 120px;
    transition: 200ms
    
}
div.container form button:hover{
    letter-spacing: 1px;
}




